.rodape{
    background: #000000;
}

.rodape-container{
    max-width: 75rem;
    margin: 0 auto;
    padding: 7.5rem 1.25rem 3.75rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-items: center;
}

.rodape-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}

.rodape-contato li{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color: #ffff;
    margin-bottom: 1.75rem;
}

.rodape-contato a{
    color: #ffff;
    text-decoration: none;
}

.direitos{
    font-size: 1.125rem;
    color: #8f8f8f;
    grid-column: 1 / -1;
}

@media (max-width:800px){
    .rodape-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .rodape-contato li{
        font-size: 1.5rem;
    }
}